header {
    background-color: black;
    
}

.logoImage img {
    border-radius: 50%;
}

.logoText h1 {
    color: #dcdcdc;
    font-weight: 400;
}

.fast {
    color: orange;
    font-weight: 700;
}

.videoRow {
    background-color: white;
}

.videoCol {
    padding: 0px;
}

.surfingImg {
    padding: 0px;
}

.videoButtonsRow {
    top: 40%;
    width: 100vw;
}